<%- include('partials/header') -%>

    <p><strong>User Name</strong>: <%= user.userName %>
    </p>
    <p><strong>Email</strong>: <%= user.email %>
    </p>
    <p><strong>Liked Games</strong>: <%= user.likedGames %>
    </p>
    <p><strong>Consoles</strong>: <%= user.consoles %>
    </p>
    <form action="/reject/<%= user.id %>?_method=PUT" method="POST"">
        <button type=" submit">No</button>
    </form>
    <form action="/accept/<%= user.id %>?_method=PUT" method="POST">
        <button type="submit">Yes</button>
    </form>


    <%- include('partials/footer') -%>