<%- include('partials/header') -%>

    <p><strong>User Name</strong>: <%= user.userName %>
    </p>
    <p><strong>Email</strong>: <%= user.email %>
    </p>
    <p><strong>Liked Games</strong>: <%= user.likedGames %>
    </p>
    <p><strong>Consoles</strong>: <%= user.consoles %>
    </p>


    <%- include('partials/footer') -%>