<%- include('partials/header') -%>
    <main class="h-screen">
        <% if(!user){ %>
            <div class="flex justify-center max-h-[1000px]">
                <p class="text-center btn btn-primary shadow-lg w-[200px]">No users left to Match with!</p>
            </div>
            <% } else { %>
                <div class="w-[1000px] my-36 flex flex-col mx-auto">
                    <div class="flex flex-row justify-between items-center">
                        <div class="card w-96 bg-base-100 shadow-xl order-2">
                            <figure class="px-10 pt-10">
                                <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl" />
                            </figure>
                            <div class="card-body items-center text-center">
                                <h2 class="card-title">
                                    <%= user.userName %>
                                </h2>
                                <p>
                                    <%= user.likedGames %>
                                </p>
                                <p>
                                    <%= user.consoles %>
                                </p>
                            </div>
                        </div>
                        <div class="order-1">
                            <form action="/reject/<%= user.id %>?_method=PUT" method="POST"" class=" ">
                        <button class=" btn btn-circle" type=" submit">No</button>
                            </form>
                        </div>
                        <div class="order-3">
                            <form action="/accept/<%= user.id %>?_method=PUT" method="POST" class="btn btn-circle">
                                <button type="submit">Yes</button>
                            </form>
                        </div>

                    </div>

                </div>
                <% } %>
    </main>



    <%- include('partials/footer') -%>