<%- include('partials/header') -%>
  <main class="h-screen max-w-[1000px] mx-auto">
    <div class="flex flex-row justify-between mx-50% w-full">
      <div>
        <h2 class="text-5xl text-center">User Profile</h2>
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure class="px-10 pt-10">
            <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">
              <%= user.userName%>
            </h2>
            <p>
              <%= user.likedGames%>
            </p>
            <p>
              <%= user.consoles%>
            </p>

          </div>
        </div>

      </div>
      <% if(typeof matchedUsers!=='undefined' ){ %>
        <div>
          <h2 class='text-5xl text-center'>Matches</h2>
          <% for(var i=0; i<matchedUsers.length; i++) {%>
            <div class="card w-96 bg-base-100 shadow-xl">
              <figure class="px-10 pt-10">
                <img src="https://placeimg.com/400/225/arch" alt="Shoes" class="rounded-xl" />
              </figure>
              <div class="card-body items-center text-center">
                <h2 class="card-title">
                  <%= matchedUsers[i].username%>
                </h2>
                <p>
                  <%= matchedUsers[i].likedgames%>
                </p>
                <p>
                  <%= matchedUsers[i].consoles%>
                </p>

              </div>
            </div>

            <!-- <p>
            <%= matchedUsers[i].username%>
              <%= matchedUsers[i].likedgames%>
                <%= matchedUsers[i].consoles%>
          </p> -->


            <% } %>
        </div>
    </div>
    <% } %>


      </div>
      </div>
  </main>
  <%- include('partials/footer') -%>