<%- include('partials/header') -%>
    <main>

        <form action="/updateprofile" method="POST" class='card mt-20'>
            <div class="mb-3">
                <label for="timezone" class="label">Timezone</label>
                <select name="timezone" id="timezone" class='select select-bordered w-full max-w-xs'>
                    <option value="pst">Pacific</option>
                    <option value="mst">Mountain</option>
                    <option value="cst">Central</option>
                    <option value="est">Eastern</option>
                    <option value="hast">Hawaii-Aleutian</option>
                </select>
            </div>
            <fieldset class="mt-20 bg-primay max-w-[200px]">
                <legend>Preferred Game Genres</legend>
                <% for(var i=0; i<games.length;i++) {%>
                    <label for='<%=games[i]%>' class="label cursor-pointer">
                        <span class="label-text">
                            <%=games[i]%>
                        </span>
                        <input type="checkbox" id="<%=games[i]%>" name="games" value="<%=games[i]%>" class="checkbox" />
                    </label>
                    <% } %>
            </fieldset>


            <fieldset class="mt-20 mb-10 max-w-[200px]">
                <legend>Consoles:</legend>
                <% for(var i=0; i<consoles.length;i++) {%>
                    <label for='<%=consoles[i]%>' class="label cursor-pointer">
                        <span class="label-text">
                            <%=consoles[i]%>
                        </span>
                        <input type="checkbox" id="<%=consoles[i]%>" name="consoles" value="<%=consoles[i]%>"
                            class="checkbox" />
                    </label>
                    <% } %>
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </main>

    <%- include('partials/footer') -%>